name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
env:
  REPO: HyosungTools/splogparser

jobs:
  build:
    # https://github.com/actions/runner-images/blob/main/images/win/Windows2022-Readme.md
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        
    - name: Fetch all tags
      run: git fetch --prune origin +refs/tags/*:refs/tags/*
    
    # GitVersion - respects existing tags
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0
      with:
        versionSpec: '5.x'

    - name: Determine Version
      id: versioning
      uses: gittools/actions/gitversion/execute@v0
      with:
        useConfigFile: true

    - name: Display Version
      run: echo "Version - ${{ steps.versioning.outputs.semVer }}"

    # Install MSBuild tools and add to Path
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1
      with:
        vs-version: '17.4'
    
    # List the packages restored
    - name: List dependencies restored
      run: cd src && nuget restore && cd .. 
                  
    # Make dist directory
    - name: Make Dir
      run: mkdir dist
            
    # Build
    - name: Build
      run: msbuild src\\splogparser.sln /m:1 /t:Clean,Build /p:Configuration="Release" /p:Platform="Any CPU" /nodeReuse:false

    # Setup VSTest 
    - name: Setup VSTest Path
      uses: darenm/Setup-VSTest@v1.2
                 
    # Test
    - name: Test
      run: msbuild src\\splogparser.sln /t:RunUnitTests /p:Configuration="Release" /p:Platform="Any CPU"
      
    # List artifacts
    - name: List artifacts
      run: cd dist && dir && cd ..
      
    # Zip artifacts
    - uses: thedoctor0/zip-release@main
      with:
        type: 'zip'
        filename: 'release.zip'
        path: .\\dist\\

    # Create Release
    - name: Create Release
      if: ${{ !startsWith(github.ref, 'refs/tags/') }}
      uses: ncipollo/release-action@v1
      env:
        GITHUB_TOKEN: ${{ secrets.github_token }}
      with:
        artifacts: release.zip
        generateReleaseNotes: true
        tag: v${{ steps.versioning.outputs.semVer }}
        name: v${{ steps.versioning.outputs.semVer }}
        allowUpdates: true
        prerelease: true      
